<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="css/main.css" type="text/css" />
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    </head>
    <body>
        <div class="body">
            <div class="chapter">
                <h2><%= title %></h2>
                <p>&#160;</p>
                <div class="text">
                    <%- data %>
                </div>
            </div>
        </div>
    </body>
</html>
