doctype xml
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="de")
    head
        title= title
        link(rel="stylesheet" href="css/main.css" type="text/css")
        meta(http-equiv="content-type" content="application/xhtml+xml; charset=utf-8")

    body
        div.body
            div.chapter
                h2= title
                p &#160;
                div.text!=data