head
    title Wattpad Downloader
    meta(name="description" content=lang.description)
    meta(name="viewport" content="width=device-width, initial-scale=0.9")
    link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
    link(rel="stylesheet" href="style.css")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    link(href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap" rel="stylesheet")