<div id="titlebar">

    <img src="icon.png" onclick="window.location.href = '/'" alt="logo"/>

    <h1>Wattpad Downloader</h1>

    <span class="spacer"></span>

    <div id="nav">
        <a href="/"><%= lang.titlebar.home %></a>
        <a href="/help"><%= lang.titlebar.help %></a>
        <a href="/privacy"><%= lang.titlebar.privacy %></a>
        <a href="https://wattpad.com" target="_blank">Wattpad</a>
    </div>

    <a href="#" onclick="toggleMobileNav(event)" id="toggle-mobile-nav">Menu</a>

</div>